@import '~/public/styles/base.scss';

.header {
    .container {
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            text-decoration: none;

            img {
                height: 40px;
            }
        }
    }

    @media screen and (max-width: $small-device) {
        .container {
            padding-top: 30px;

            .logo {
                img {
                    height: 16px;
                }
            }
        }
    }
}