@import "~/public/styles/base.scss";

.header {
    position: relative;
    z-index: 100;
    .container {
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 12px;
        .logo {
            text-decoration: none;
            height: 40px;
            width: 150px;
            position: relative;
        }
    }

    @media screen and (max-width: $small-device) {
        .container {
            padding-top: 30px;

            .logo {
                img {
                    height: 24px;
                }
            }
        }
    }
}
