@import "~/public/styles/base.scss";

.footer {
    padding-bottom: 40px;
    margin-top: 80px;

    .container {
        padding: 40px 0;
        border-top: 1px solid #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            text-decoration: none;
            height: 40px;
            width: 150px;
            position: relative;
        }

        .credit {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */

            color: #ffffff;
        }

        .powered-by {
            display: flex;
            align-items: center;
            column-gap: 16px;

            label {
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                // text-transform: uppercase;
            }

            a {
                text-decoration: none;
            }
            .buzzspace-logo {
                position: relative;
                height: 32px;
                width: 120px;
            }
        }
    }

    @media screen and (max-width: $small-device) {
        .container {
            padding: 32px 0;
            flex-direction: column;
            row-gap: 24px;

            .logo {
                text-decoration: none;
                height: 24px;
            }

            .credit {
                font-size: 12px;
            }

            .powered-by {
                .buzzspace-logo {
                    position: relative;
                    height: 24px;
                    width: 80px;
                }
            }
        }
    }
}
