.mention-chart {
    display: flex;
    align-items: center;
    column-gap: 8px;

    .circle {
        width: 8px;
        height: 8px;
        background-color: $color-primary;
        border-radius: 100rem;
    }

    .label {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */


        color: #FFFFFF;
        text-transform: uppercase;
    }
}