.card-honorable {
    $border-radius: 8px;
    background-color: #202020;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    flex: 1;
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
    min-width: 360px;

    @media screen and (max-width: 400px) {
        min-width: 0px;
        width: 100%;
    }

    // &::before {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     border-radius: $border-radius;
    //     padding: 2px;
    //     opacity: 0;
    //     background: linear-gradient(to right bottom, #BB86FC 100%, #FFFFFF 0%);
    //     -webkit-mask:
    //         linear-gradient(#fff 0 0) content-box,
    //         linear-gradient(#fff 0 0);
    //     -webkit-mask-composite: xor;
    //     mask-composite: exclude;
    //     transition: 0.2s;
    //     user-select: none;

    // }

    &:hover {
        // &::before {
        //     opacity: 1;

        // }
        border-color: $color-primary;
    }

    .head {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 16px;
        position: relative;

        .title {
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 39px;
            /* identical to box height */

            color: #FFFFFF;

            text-transform: uppercase;
        }

        [role="icon-default"] {
            width: 20px;
            height: 20px;
            cursor: pointer;

            * {
                cursor: pointer;
            }

            &:hover {
                opacity: 0.8;
            }

            &:hover~.des-modal {
                opacity: 1;
                visibility: visible;
            }
        }

        .des-modal {
            position: absolute;
            background-color: #2D2D2D;
            color: #fff;
            border-radius: 8px;
            padding: 24px;
            left: 0;
            top: 100%;
            max-width: 100%;
            opacity: 0;
            transition: 0.3s;
            visibility: hidden;
        }
    }

    .rank {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */


        color: #FFFFFF;
        margin-top: 40px;
        margin-bottom: 16px;
    }

    .repo {
        display: flex;
        align-items: center;
        column-gap: 16px;
        margin-bottom: 40px;
        text-decoration: none;
        cursor: pointer;

        * {
            cursor: pointer;
        }

        .logo {
            height: 48px;
            border-radius: 100rem;
        }

        .name {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;

            color: #FFFFFF;
        }
    }

    .img-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 90px;
    }

    @media screen and (max-width: $small-device) {
            .head {
                .title {
                    font-size: 18px;
                    line-height: 24px;
                }

                [role="icon-default"] {
                    width: 16px;
                    height: 16px;
                }

            }
            .rank {
                margin-top: 24px;
            }

            .repo {
                margin-bottom: 24px;

                .logo {
                    height: 32px;
                    border-radius: 100rem;
                }

                .name {
                    font-size: 18px;
                }
            }

            .img-bottom-right {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 75px;
            }
    }
}