.metric {
    .label {
        color: #FFF;
        font-size: 14px;
        font-weight: 600;
    }

    .number {
        color: $color-primary;
        font-size: 14px;
        font-weight: 800;
    }

    @media screen and (max-width: $small-device) {
        
    }
}