.background-layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    z-index: 0;
    background-color: $color-background;
    opacity: 0;
    animation: appear 1s forwards ease-in-out;
    @keyframes appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}