.container {
    margin-top: 40px;
    .foot-detail {
        margin-top: 40px;
        display: flex;
        column-gap: 24px;
        @media screen and (max-width: 900px) {
            flex-direction: column;     
            row-gap: 24px;       
        }
    }
}