.title {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */


    color: #FFFFFF;

    text-transform: uppercase;

    // display: flex;
    // align-items: center;
    // column-gap: 24px;
}