.title {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */

    * {
        margin: auto;
    }

    color: #ffffff;

    text-transform: uppercase;

    // display: flex;
    // align-items: center;
    // column-gap: 12px;
    [role="icon-title"] {
        margin-left: 12px;
    }
    @media screen and (max-width: $small-device) {
        font-size: 24px;
        line-height: 32px;
        [role="icon-title"] {
            width: 32px;
            height: 32px;
        }
    }
}

.planet {
    // animation: identifier 3s linear infinite;

    &.reverse {
        animation: identifier-reverse 3s linear infinite;

        @keyframes identifier-reverse {
            0% {
                transform: rotate(75 1253.57 485.021) translateY(0);
            }

            25% {
                transform: rotate(75 1253.57 485.021) translateY(10px);
            }

            50% {
                transform: rotate(75 1253.57 485.021) translateY(5px);
            }

            75% {
                transform: rotate(75 1253.57 485.021) translateY(-5px);
            }

            100% {
                transform: rotate(75 1253.57 485.021) translateY(0);
            }
        }
    }
    $x: -130px;
    transform: translate($x, 18px);
    @keyframes identifier {
        0% {
            transform: translate($x, 0);
        }

        25% {
            transform: translate($x, -10px);
        }

        50% {
            transform: translate($x, -5px);
        }

        75% {
            transform: translate($x, 5px);
        }

        100% {
            transform: translate($x, 0);
        }
    }
}

.description-title {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 12px;
}

.rounded-full {
    border-radius: 100rem;
}
