.top-developer {
    background-color: var(--grey-1, #202020);
    padding: 24px;
    border-radius: 8px;
    flex: 1;

    .title {
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */

        color: #ffffff;
    }

    .sort {
        margin-top: 24px;
        display: flex;
        align-items: center;
        column-gap: 8px;
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        user-select: none;

        * {
            cursor: pointer;
        }
    }

    .list {
        margin-top: 32px;
        max-height: 654px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
            height: 4px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.12);

            border-radius: 100rem;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $color-secondary;
            border-radius: 100rem;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #02b9a7;
        }

        &-item {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            padding: 32px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.24);

            .author {
                display: flex;
                align-items: center;
                column-gap: 16px;

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 100rem;
                    object-fit: cover;
                    object-position: center;
                    position: relative;
                }

                .name {
                    color: #fff;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }

            .list-tag {
                display: flex;
                column-gap: 12px;
                align-items: center;
                row-gap: 12px;
                flex-wrap: wrap;

                .tag {
                    border-radius: 100px;
                    background: var(--grey-2, #2d2d2d);
                    display: flex;
                    padding: 8px 12px;
                    align-items: center;
                    gap: 4px;
                    justify-content: center;
                    color: var(--whilte, #fff);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }

            .infor-icons {
                display: flex;
                align-items: center;
                column-gap: 24px;

                &__data {
                    color: #03dac6;
                    display: flex;
                    align-items: center;
                    column-gap: 12px;

                    [role="icon-default"] {
                        width: 24px;
                        height: 24px;
                        color: currentColor;
                    }

                    label {
                        color: #fff;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }



            .pull-merged-request {
                span {
                    color: #fff;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: uppercase;
                }

                .label-pull {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }

                .label-pull-mobile {
                    display: none;
                }

                .progress {
                    background: rgba(255, 255, 255, 0.12);
                    height: 6px;
                    width: 100%;
                    border-radius: 100rem;
                    margin-top: 16px;
                    position: relative;

                    &-active {
                        border-radius: 100rem;
                        background: var(--primary, #bb86fc);
                        height: 100%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 636px) {
        .title {
            font-size: 18px;
        }

        .list {
            margin-top: 24px;
            max-height: 592px;

            &-item {
                padding: 16px 0;

                .author {
                    display: flex;
                    align-items: center;
                    column-gap: 16px;

                    .avatar {
                        width: 32px;
                        height: 32px;
                        position: relative;
                    }

                    .name {
                        font-size: 16px;
                    }
                }

                .commits {
                    color: #03dac6;
                    display: flex;
                    align-items: center;
                    column-gap: 12px;

                    [role="icon-default"] {
                        width: 16px;
                        height: 16px;
                    }

                    label {
                        font-size: 14px;
                    }
                }

                .pull-merged-request {
                    .label-pull {
                        display: none;
                    }

                    .label-pull-mobile {
                        display: inline;

                        .last-row-pull {
                            display: flex;
                            align-items: center;
                            column-gap: 12px;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }
}