.container {
    margin-top: 160px;

    .information-board {
        margin-top: 40px;
        display: flex;
        column-gap: 24px;

        @media screen and (max-width: 1300px) {
            flex-direction: column;
            row-gap: 24px;
        }
    }
}