.container {
    margin-top: 80px;

    .list-card {
        display: flex;
        column-gap: 24px;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 40px;
    }
}