.container {
    margin-top: 80px;

    .list-card {
        display: flex;
        column-gap: 24px;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 40px;
        flex-wrap: wrap;
        row-gap: 24px;
        @media screen and (max-width: $small-device) {
            flex-direction: column;
            margin-top: 32px;
        }
    }



    // @media screen and (max-width: )
}