.activity-trend {
    flex: 1;
    background: #202020;
    border-radius: 8px;
    padding: 24px;
    flex: 1;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 39px;
            /* identical to box height */


            color: #FFFFFF;
            text-transform: uppercase;
        }
    }

    .body {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        width: 100%;

        .choose-statis {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .type-statis {
                display: flex;
                align-items: center;
                column-gap: 12px;
            }
        }

        .chart {
            width: 100%;
            height: 270px;
        }
    }

    @media screen and (max-width: $small-device) {
        padding: 16px;
        .header {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 24px;
            .title {
                font-size: 18px;
            }
        }
        .body {
            margin-top: 24px;
            row-gap: 0px;
    
            .choose-statis {
                flex-direction: column;
                align-items: flex-start;
                row-gap: 24px;
                .type-statis {
                    display: flex;
                    align-items: center;
                    column-gap: 12px;
                }
            }
    
            .chart {
                width: 100%;
                
            }
        }
    }
}